<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<div>
	<h1>
		Aditya Sagam
		1001660179
	</h1>
</div>

<form method="GET" action="/barchart">
    <h1>Show Bar Chart</h1>
	<input type="submit"></input>
</form>

<form method="GET" action="/piechart">
    <h1>Show Pie Chart</h1>
	<input type="submit"></input>
</form>

<form method="GET" action="/barchart2">
    <h1>Show Bar Chart 2</h1>
	<input type="submit"></input>
</form>

<form method="GET" action="/cluster">
    <h1>Show Cluster</h1>
    Enter Number of Clusters:<input type="text" name="noofclusters" maxlength="2"/>
	<input type="submit"></input>
</form>

<form method="GET" action="/q9">
    <h1>QUESTION 9</h1>
    CODE:<input type="text" name="code"/>
    YER RANGE:
    <input type="text" name="yr1"/>
    <input type="text" name="yr2"/>
	<input type="submit"></input>
</form>
<!--
<form method="GET" action="/makeMultipleQueries">
	Enter Lower Magnitude:<input type="number" name="mag1"/>
	Enter Higher Magnitude:<input type="number" name="mag2"/>
	Enter Count: <input type="number" name="count" />
	<input type="submit"></input>
</form>
<form method="GET" action="/fetchAll">
	Fetch All Results <input type="submit"></input>
</form>
<form method="GET" action="/uploadData">
	Uplaod CSV to DB <input type="submit"></input>
</form>

<form method="GET" action="/getStateYearPopulation">
	Enter State Code:<input type="text" name="code" maxlength="2"/>
	Enter Year:<input type="number" name="year"/>
	<input type="submit"></input>
</form>

<form method="GET" action="/populationRange">
	9. POPULATION RANGE: <br/>
	Enter low pop:<input type="number" name="pop1" />
	Enter high pop:<input type="number" name="pop2" />
	Enter Year:<input type="number" name="year"/>
	Enter number of iterations <input type="number" name="iterations"/>
	<input type="submit"></input>
</form>

<form method="GET" action="/countCounty">
	8. Give count of Counties in State: <br/>
	Enter State Code:<input type="text" name="code" maxlength="2"/>
	<input type="submit"></input>
</form>
-->
<form method="GET" action="/returnResults">
    <h2>D3 visulatization</h2>
    <input type="submit"/>
</form>
<!--
<form method="GET" action="/uploadPopulation">
	Uplaod Population CSV to DB <input type="submit"></input>
</form>
-->