<div>
	<h1>
		Aditya Sagam
		1001660179
	</h1>
</div>
<form method="GET" action="/makeMultipleQueries">
	Enter Lower Magnitude:<input type="number" name="mag1"/>
	Enter Higher Magnitude:<input type="number" name="mag2"/>
	Enter Count: <input type="number" name="count" />
	<input type="submit"></input>
</form>
<form method="GET" action="/fetchAll">
	Fetch All Results <input type="submit"></input>
</form>
<form method="GET" action="/uploadData">
	Uplaod CSV to DB <input type="submit"></input>
</form>